.title {
    color: white;
    font-size: large;
    text-align: center;
    background-image: linear-gradient(to right, purple, blue);
}

.form-group {
    font-size: 1.2rem;
}


.currentWeather {
    border: 1px solid black;
    margin-bottom: 10px;

}

.card-body {
    background-color: #1b2b3d;
}

section.fiveDay h2 {
    font-size: 1.5rem;
}

section.fiveDay p {
    font-size: 1rem;
    color: white;
}

section.fiveDay p.card-subtitle {
    color: white;

}

.text-muted {
    color: white !important;
}

.recent-searches {
    border-top: 1px solid gray;
}

.btn-secondary {
    display: block;
    margin: 5px;
}

#temperature,
#humidity,
#wind {
    display: inline-block;
}

.fiveDay-temp1,
.fiveDay-wind1,
.fiveDay-humid1,
.fiveDay-temp2,
.fiveDay-wind2,
.fiveDay-humid2,
.fiveDay-temp3,
.fiveDay-wind3,
.fiveDay-humid3,
.fiveDay-temp4,
.fiveDay-wind4,
.fiveDay-humid4,
.fiveDay-temp5,
.fiveDay-wind5,
.fiveDay-humid5 {
    display: inline-block;
}